@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --secondary-content: 0 0% 42%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 54 0% 85%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 15%;
    --foreground-2: 0 0% 17%;
    --secondary-content: 0 0% 62%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 51, 100%, 50%;
    --primary-foreground: 0 0% 88%;
    --primary-foreground-2: 0 0% 80%;
    --secondary: 51 100% 50%;
    --secondary-foreground: 0 0% 20%;
    --terciary: 0 0% 20%;
    --terciary-foreground: 0 0% 20%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 11 69% 47%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --border-secundary: 0, 0%, 33%;
    --input: 217.2 32.6% 17.5%;
    --ring: 54 0% 85%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --hover: 50, 100%, 67%;
    --active: 51, 100%, 25%
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground w-screen h-screen;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
}

h1 {
  font-size: 48px;
  line-height: 100%;
  font-weight: 600;
}

h2 {
  font-size: 36px;
  line-height: 100%;
  font-weight: 600;
}

h3 {
  font-size: 32px;
  line-height: 100%;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  line-height: 100%;
  font-weight: 400;
}

h5 {
  font-size: 20px;
  line-height: 100%;
  font-weight: 400;
}

h6 {
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
}

span {
  font-size: 14px;
  line-height: 140%;
  font-weight: 500;
}

.containerPrincipal {
  display: flex;
  justify-content: center;
  @apply mt-16;
}

.contentPrincipal {
  width: 1000px;
  display: flex;
  flex-direction: column;
  @apply gap-16 relative;
}

.footerContainer {
  margin-top: 64px;
}

.layoutWrapper {
  display: flex;
  flex-direction: column; /* Permite que o nav e o main se ajustem em coluna */
}

@media screen and (max-width: 1024px) {
  .contentPrincipal {
    padding: 0 64px;
    width: 100%;
  }

  h1 {
    font-size: 48px;
    line-height: 100%;
    font-weight: 600;
  }

  h2 {
    font-size: 36px;
    line-height: 100%;
    font-weight: 600;
  }

  h3 {
    font-size: 24px;
    line-height: 100%;
    font-weight: 400;
  }

  h4 {
    font-size: 20px;
    line-height: 100%;
    font-weight: 400;
  }

  span {
    font-size: 14px;
    line-height: 140%;
    font-weight: 500;
  }
}
@media screen and (max-width: 768px) {
  .contentPrincipal {
    padding: 0 16px;
    width: 100%;
  }

  h1 {
    font-size: 48px;
    line-height: 100%;
    font-weight: 600;
  }

  h2 {
    font-size: 36px;
    line-height: 100%;
    font-weight: 600;
  }

  h3 {
    font-size: 24px;
    line-height: 100%;
    font-weight: 400;
  }

  h4 {
    font-size: 20px;
    line-height: 100%;
    font-weight: 400;
  }

  span {
    font-size: 14px;
    line-height: 140%;
    font-weight: 500;
  }
}
/* Estilo do swipper ta aqui por que eu quis e não consegui colocar no module não gostou arruma */

.swiper-pagination {
  position: initial !important;
}

.swiper-pagination-bullet {
  background: hsl(var(--primary-foreground)) !important;
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: hsl(var(--primary-foreground)) !important;
}
